*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1em;
}

main {
    padding: 1em;
}

.task-form {
    margin-bottom: 2em;
    padding: 1.5em;
    background-color: #ffffff;
    border-radius: 0.8em;
    box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.1);
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.task-form input,
.task-form select,
.task-form button,
.delete-task-btn {
    padding: 1em;
    border: 0.1em solid #ddd;
    border-radius: 0.4em;
}

.task-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    background-color: #fff;
    padding: 1.5em;
    margin-bottom: 1em;
    border-radius: 0.8em;
    box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-task-btn {
    background-color: #ff1c27;
    color: white;
    border: none;
    cursor: pointer;
}